@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anakotmai";
  src: url(/fonts/anakotmai-medium.woff) format("woff");
}

* {
  font-family: "Anakotmai", sans-serif ;
}