@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anakotmai";
  src: url(/fonts/anakotmai-medium.woff) format("woff");
}

* {
  font-family: "Anakotmai", sans-serif;
}

.chq-atc {
  width: 15em;
}

.chq-atc button {
  width: 12em;
  display: flex;
  color: #3F51B5;
  font-size: 12px;
}

.chq-atc button>svg {
  display: none;
}